# Gaussian Naive Bayes

This notebook has the code needed in order to run the materials for the [London Flatiron School](https://flatironschool.com/campuses/london) Gaussian Naive Bayes lecture!!

Here we continue on our example from the slides looking at predicting if we should put people in the basic or \~gold\~ membership.

In [93]:
# The Good Ol' Boys
import pandas as pd
import seaborn as sns
import numpy as np

# New Kids on the Block 
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [94]:
casino_data = pd.read_csv("data/casino_data.csv")

In [95]:
casino_data.head()

   id        age        income status
0   1  38.778154  41082.064284  Basic
1   2  55.919920  39828.545395  Basic
2   3  63.356784  58213.502386   Gold
3   4  53.654673  27516.380548  Basic
4   5  58.986434  47002.098777   Gold

In [55]:
# Separate Out Data ! 
y = casino_data['status']
X = casino_data[['age','income']]

# Split Data for TTS
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# Instatiate your ML Model 
gnb = GaussianNB()

# Fit that Bad Boy 
y_pred = gnb.fit(X_train, y_train).predict(X_test)

# Where were we wrong? 
print("Number of mislabeled points out of a total %d points : %d"
       % (X_test.shape[0], (y_test != y_pred).sum()))

Number of mislabeled points out of a total 160 points : 22

In [91]:
# Let's ask our model what it thinks about our personas:

print("We should given Allen:",gnb.predict([[29,37500]]))

print("For Dotty we predict:",gnb.predict([[73,78000]]))

print("For Janet we predict", gnb.predict([[36,455000]]))

We should given Allen: ['Basic']
For Dotty we predict: ['Gold']
For Janet we predict ['Basic']

## You Try!

* First, try to use the boiler plate code above to run this classifier on the `iris` dataset. Try it first with just two classes (subset out the `Setosa` species) then run it and report your results.

* Second, see what happens when you run the model with three sub classes. Run that code and then write a paragraph below explaining how this model works in light of what we learned today. Make sure to differentiate between GENERATIVE and DISCRIMINATIVE classes.

* If you are able to do both of these, lastly I invite you to try to build up a janky Gaussian Naive Bayes Classifier using JUST numpy This repeats what we do in the GNB labs, so if you don't have time to do this, you can do that there!

### Boiler Plate Re-Copy

Below, import in the `iris` dataset, drop the `Setosa` species and use the boilerplate code above to run this classifier to see if you can train a model predict between the `virginica` and `versicolor`.

In [96]:
# your code here!

### Multi-Class Predictions

Now add `Setosa` back in. Run a new model below. Given what we talked about on how Naive Bayes works in comparison to Logistic Regression, write a paragraph talking about what is going on here. Try to use the terms discriminative and generative in your answer.

> Tell me about how this work!

### Make a Janky Naive Bayes Classifier Using numpy